/* style.css  - docs.streamlit.io/develop/concepts/configuration/theming*/
/* <script> */
/* Decrease size of all labels in the form */
.stForm label p {
	font-size: 0.6rem !important;
}

/* Decrease size of text inside input fields */
.stForm input {
	font-size: 0.6rem !important;
}

/* Decrease size of text inside the submit button */
.stFormSubmitButton button p {
	font-size: 0.6rem !important;
}

/* Decrease Header and Subheader sizes */
div[data-testid="stHeader"] h1 {
    font-size: 1.0rem !important;
}
div[data-testid="stSubheader"] h2 {
    font-size: 0.8rem !important;
}

/* Style the Number Input field and its label */
.stNumberInput label p {
    font-size: 0.6rem !important;
}
.stNumberInput input {
    font-size: 0.7rem !important;
    height: 35px; /* Optional: shrink the box height too */
}

/* Shrink all parts of a Metric card */
[data-testid="stMetricLabel"] p {
    font-size: 0.6rem !important;
}
[data-testid="stMetricValue"] {
    font-size: 0.6rem !important;
}
[data-testid="stMetricDelta"] {
    font-size: 0.5rem !important;
}

/* </script> */